{% extends 'base.html' %}
{% block content %}

<p>Hi {{ username.title() }}! Guess the answer!</p>

<p>{{ riddle_number }}. {{ riddles[riddle_index].question }}</p>


<form method="POST">
    <label for="answer">Answer:</label>
    <input type="text" id="answer" name="answer">
    
    <input type="hidden" name="riddle_index" id="riddle_index" value={{riddle_index}}>
    <input type="hidden" name="scores" id="scores" value={{scores}}>
    
    <button type="submit">Submit</button>
    <button type="submit" name="btn_pass">No idea, pass this riddle</button>

</form>

{% if wrong_answers %}

<hr>
<h2>Wrong answers</h2>
{% for answer in wrong_answers %}

<li>{{ answer[0] }}. riddle, {{ answer[1] }}: {{ answer[2] }}</li>

{% endfor %}

{% endif %}

<hr>
<h2>Scores:</h2>
<p>{{ scores }} / {{ all_scores }}</p>

<hr>
<a href="{{ url_for('logout_user', username=username) }}">Logout</a>

<hr>
<h2>Online users:</h2>

{% for user in online_users %}
<li>{{ user.title() }}</li>
{% endfor %}

{% endblock %}